html {
  height: 100%;
}

body {
  font-family:Poppins;
  display: flex;
  box-sizing: border-box;
  border: 10px solid #000;
  margin: 0px;
  min-height: 875px; 
  height: 100%;
}

main {
  display: flex;
  width: 100%;
  height: 100%;
  /* box-sizing: border-box; */
}

div {
  background-color: aquamarine;
  border: 10px solid #000;
  padding: 10px;
}

ul {
  font-weight: bold;
  li {
    font-weight: normal;
  }
}

h1 {
  line-height: 2.5rem;
}

.parent {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 25%;
  /* min-height: 100%; no need for height when within flex box? */
  /* height: 100%; */
  margin: 10px;
}

.parent > div {
  background-color: #fff;
}

.parent > div > div {
  background-color: #999999;
  margin: 10px;
}

.parent-2 {
  font-size: calc(0.10rem + 1.2vw);
  width: 25%;
  border: 5px solid #000;
  /* height: 100%; */
  margin: 10px;
}

.parent-2 + div {
  line-height: 25px;
  overflow: scroll;
  overflow-x: hidden;
  background-color: #ddeeff;
  border-width: 20px;
  border-color: black;
  width: 100%;
  scrollbar-color:crimson turquoise;
}

.grand-child > div {
  margin: 10px;
}

.group2 + div {
  background-color: #4f4;
}

.grand-child div {
  border-color: #ccee25;
}

/* .group3 ~ div{
  border-color: #2020ee;
} */

.grand-child ~ div{
  border-color: #2020ee;
}

.group1 , .group2 {
  border-color: #ff20cc;
  background-color: crimson; /* not specific enough, ".parent > div > div" wins */ 
}

.group3:nth-child(4) {
  border-color: #aa50ff;
}

/* nth-child selects the element that matches both the base element and child number */
.great-grand-child:nth-child(3) {
  border-color: #ffcc00;
}