* {
	box-sizing: border-box;
}

body {
	background-color: #222 
}

.grid-container {
  resize: both;
  overflow: auto;
	display: grid;
	gap: 10px;
	background-color: black;
	color: white;
	border: 1px solid #522;
	grid-template-rows: repeat(auto-fill, minmax(auto, 1fr));
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	padding: 10px;
}

.grid-item {
	border: 5px solid #fff;
	background-color: #111;
}
