body {
	font-size: 20px;
}

.container {
	width: 100%;
	height: fit-content;
	min-height: 10rem;
	border: red 1px solid;
}

.info-zone {
	height: fit-content;
	min-height: 100%;
	border: cyan 1px solid;
}
