:root {
		height: 100vh;
		min-height: 100vh;
		--outline: rgb(134, 255, 165);
		--inline: rgb(0, 108, 158);
}

* { 
    box-sizing: border-box;
    margin:0px;
		padding: 0px;
}


body {
		display: flex;
		align-items: center;
		justify-content: center;
    background-color:rgb(222, 220, 209);
    height: 100%;
		width: auto;
    /* padding: 10% 10%; */
}

main {
		background-color:rgb(222, 220, 209);
    display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
    width: 85%;
    height: 85%;
    border: 10px solid var(--outline);
		border-radius: 10px;
		padding: 20px;
}

.pixel-container {
	display: flex;
	width: 95%;
	height: 70%;
	border: 5px var(--inline) solid;
	border-start-start-radius: 10px;
	border-start-end-radius: 10px;

}

.pixel-row {
	display: flex;
	height: 100%;
}

.pixel {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 1;
	width:max-content;
	border: 1px solid rgb(178, 255, 223);
	margin: 0px;
}

.controls-container {
	display: flex;
	border: 5px solid var(--inline);
	border-top: none;
	width: 95%;
	height: 20%;
	border-end-start-radius: 10px;
	border-end-end-radius: 10px;
}

