:root {
		height: 100vh;
		min-height: 100vh;
		--outerBorderColor: #050;
		--innerBorderColor: #050;
		--innerBorderThickness: 30px;
		--outerBorderThickness: 2.5px;
		--pageBG: #B7B;
		--pageImage: radial-gradient(#FCC, 70%, #B7B);
		--deviceBG: #0D7;
		--screenBG: #efe;
		--controlsBG: #0F6;
		--borderRadius: 20px;
		--displayWidth: 90%;
}

* { 
    box-sizing: border-box;
    margin:0px;
		padding: 0px;
}


body {
		background-color: var(--pageBG);
		background-image: var(--pageImage);
		display: flex;
		align-items: center;
		justify-content: center;
    height: 100%;
		width: auto;
}

main {
		background-color: var(--deviceBG);
    display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
    width: 60%;
    height: 83%;
    border: var(--outerBorderThickness) solid var(--outerBorderColor);
		overflow: hidden;
		padding: 1%;
		padding-top: 3.5%;
}

.pixel-container {
	background: var(--screenBG);
	display: flex;
	flex-direction: column;
	width: var(--displayWidth);
	height: 75%;
	border: 4px var(--innerBorderColor) solid;
	overflow: hidden;

}

.pixel-row {
	display: flex;
	height: 100%;
}

.pixel {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 1;
	width:max-content;
	border: 1px solid var(--innerBorderColor);
	margin: 0px;
}

.controls-container {
	background-color: var(--controlsBG);
	display: flex;
	border: 5px solid var(--innerBorderColor);
	width: 85%;
	height: 20%;
}

.display-shadow {
	box-shadow: inset 0px 0px 10px 3px var(--innerBorderColor), 0 0 10px var(--innerBorderColor);
}

.controls-shadow {
	box-shadow: inset 0 0 20px 5px var(--innerBorderColor), 0 0 10px Var(--innerBorderColor);
}

.device-shadow {
	box-shadow: inset 0 0 20px 5px var(--outerBorderColor);
}

.round-corners {
	border-start-start-radius: var(--borderRadius);
	border-start-end-radius: var(--borderRadius);
	border-end-start-radius: var(--borderRadius);
	border-end-end-radius: var(--borderRadius);
}