:root {
  width: 100%;
  height: 100%;
}

* {
  color: white;
}

body {
  box-sizing: border-box;
  display: flex;
  /* height: 100%; */
  width: 100%;
  margin: 0px;
  padding: 0px;
}

main {
  /* display: flex; */
  background-color: #000;
  width: 100%;
  min-height: 100%;
}

:root {
  --offset: 100px;
}

.static {
  color: #9f0;
  left: var(--offset);
  /*
  left property value has no effect
  */
}

.relative {
  position: relative;
  width: 100px;
  left: var(--offset);
  color: #ff7;
  /*
  - #VALUE offset from text beginning
  - When resizing on X: #VALUE buffer before text starts wrapping
  - Text wraps to offset position
  */
}

.absolute {
  position: absolute;
  font-size: 2em;
}

.fixed {
  position: fixed;
  bottom: 500px;
}