body {
    display: flex;
    flex-direction: column;
    align-items: right;
    background-color: rgb(200, 200, 255);
}

span {
	text-decoration: underline;
	font-weight: bold;
	font-size: 1.7em;
}

section {
	font-size: 1.5em;
	padding: 10px; 
}

button, input {
	margin: 5px 0px;
	padding-right: 10px;
}
