\javascript-exercises\node_modules
/javascript-exercises/node_modules
**/package.json
**\package.json
**/package-lock.json
**\package-lock.json
**/.swp
**\.swp
**/.vscode
**\.vscode
**/submodule
**\submodule
