* {
    border: 1px solid;
    border-color: red;
    margin: 0px;
    padding: 0px;
}

body {
    color: rgb(51, 255, 0);
    background-color: rgb(62, 252, 62);
    font-family: Helvetica, sans-serif;
    
}

a {
    color: rgb(51, 255, 0);
}

a:hover {
    color: rgb(183, 143, 236);
}

img {
    width: 500px;
    height: auto;
}

h1 {
    color:rgb(183, 143, 236);
    font-family: Garamond, Times New Roman;
    text-align: center;
}

.bodydiv {
    background-color: black;
    width: 800px;
    height: 100vh;
    margin: auto;
    padding: 0px;
    text-justify:inter-word;
} 

.container {
    background-color: rgb(75, 0, 126);
    width: 500px;
    height: 100vh;
    margin: 0px auto;
    padding: 0px 10px;

}

.description {
    /* width: inherit; */
    text-align: justify;
    /* background-color: black; */
    padding: 10px;
    margin: auto;
    color:rgb(62, 252, 62);

}

.list-item {
    margin: 2px;
    padding: 2px;
    border: 2px;

}

#iddy.classy {
    background-color: rgb(0, 162, 255);
}
