/* 
 	TODO

	mobile: 
		- larger label text
	
	desktop: 
		- all of it
		- .input-group should be flex row
		- smaller label text
 */

:root {
	--main-left-margin: 30px;	
	--green: #3e552e;
	--lightgray: #fcfcff;
}

* {
	box-sizing: border-box;
	margin: 0;
}

body {
	width: 100%;
}

a {
	text-decoration: none;
	color: var(--green); 
}

main {
	display: flex;
	flex-direction: column;
}

input {
	appearance: none;
	-webkit-appearance: none;
	font-size: 1.3em;
	background-color: var(--lightgray);
	border: 1px solid #ccc;
	border-radius: 3px;
	outline: none;
}

input:focus {
	-webkit-appearance: none;
	border: 1px blue solid;
	box-shadow: 5px 5px 10px #ddd;
	outline: none;
}

input[type="password"]:invalid {
	position: relative; 
	border: 1px solid red;
}


.logo-main {
	display: flex;
	align-items: center;
	width: 100%;
	height: 20vh;
/*	overflow: hidden; */
	background-image: url("assets/halie-west-25xggax4bSA-unsplash.jpg");
	background-size: cover;
}

.logo-main div {
	position: relative;
	font-family: "norse";
	text-align: center;
	width: 100%;
	height: 70%;
	color: white;
	font-size: 5em;
	background-color: #0007;
}

@font-face {
	font-family: "norse";
	src: 
		url("assets/Norse-Bold.woff") format("woff"),
		url("assets/Norse-Bold.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

.logo img {
	width: auto;
	height: 90%;
	vertical-align: middle;
}

.form-main {
	/* font-family: "Arial"; */
	font: 1.0em
				"Arial", sans-serif;
	background-color: var(--lightgray);
}

.form-main-top {
	font-weight: bold;
	margin: 40px 20px 40px var(--main-left-margin);	
}

p {
	margin: 20px 0 10px 0;
	letter-spacing: 0.025em;
}

.form-main-form {
	display: flex;
	flex-direction: column;
	padding: 20px 20px 40px var(--main-left-margin);
	background-color: #fff;
	box-shadow: 0px 5px 10px #999;
}

label {
	color: #444;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: 0.7em;
	display: block;
	margin: 35px 0 0 0;
}

.label-group {
	/* margin: 10px 0 10px 0; */
}

.label-group span:before {
	position: absolute;
}

.form-main-bottom {
	margin: 40px 20px 70px var(--main-left-margin); 
}

button {
	font-size: 1.4em;
	font-weight: 650;
	appearance: none;
	background-color: var(--green);
	color: white;
	border: 0px;
	border-radius: 10px;
	padding: 10px 40px 10px 40px;
}

.form-main-bottom p {
	font-size: 0.8em;
	margin-top: 20px;
	font-weight: bold;
}

/* 
 * * Desktop 
 */

@media only screen and (min-width: 700px) {
	main {
		flex-direction: row;
	}

	body {
		height: 100vh;
	}	

	.logo-main {
		height: 100%
	}

	.form-main {
		height: 100%;
	}

	.input-group {
		display: flex;
	}
}
