* {
	box-sizing: border-box;
	margin: 0;
	padding: 
}

body {
	width: 100%;
}

main {
	display: flex;
	flex-direction: column;
}

.logo-main {
	display: flex;
	align-items: center;
	width: 100%;
	height: 20vh;
/*	overflow: hidden; */
	background-image: url("assets/halie-west-25xggax4bSA-unsplash.jpg");
	background-size: cover;
}

.logo-main div {
	position: relative;
	font-family: "norse";
	text-align: center;
	width: 100%;
	height: 70%;
	color: white;
	font-size: 5em;
	background-color: #0007;
}

@font-face {
	font-family: "norse";
	src: 
		url("assets/Norse-Bold.woff") format("woff"),
		url("assets/Norse-Bold.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

.logo img {
	width: auto;
	height: 90%;
	vertical-align: middle;
}

.form-main{
}

.input-group {
	

}


