:root {
	height: 100vh;
	min-height: 100vh;
	--outerBorderColor: #005500;
	--innerBorderColor: #005500;
	--knobGradientStart: #eae;
	--knobGradientEnd: #737;
	--pageBG: #BB77BB;
	--gridColor: #eeaaee;
	--deviceBG: #00DD77;
	--screenBG: #eeffee;
	--controlsBG: #0c3;
	--controlPanelBG: #272;
	--innerBorderThickness: 30px;
	--outerBorderThickness: 2.5px;
	--pageImage: radial-gradient(#FCC, 70%, #B7B);
	--borderRadius: 20px;
	--displayWidth: 90%;
}

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}


body {
	background-color: var(--pageBG);
	background-image: var(--pageImage);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: auto;
}

main {
	width: 60%;
	background-color: var(--deviceBG);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	/* height: 40vmax; */
	aspect-ratio: 3 / 2;
	border: var(--outerBorderThickness) solid var(--outerBorderColor);
	overflow: hidden;
	padding: 1%;
	padding-top: 3.5%;
	font-family: Arial, Helvetica, sans-serif;
	
}

.pixel-container {
	background: var(--screenBG);
	display: flex;
	flex-direction: column;
	width: var(--displayWidth);
	height: 75%;
	border: 2px var(--innerBorderColor) solid;
	overflow: hidden;

}

.pixel-row {
	display: flex;
	flex: 1 0 0;
	height: 100%;
}

.pixel {
	flex: 1;
	/* width:min-content; */
	border: 1px solid var(--gridColor);
	margin: 0px;
}

.pixel:hover {
	background-color: #B7B;
}

.controls-container {
	background-color: var(--controlsBG);
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 2px solid var(--innerBorderColor);
	width: 85%;
	height: 20%;
	overflow: hidden;
	padding: 0 5%;
}

.controls-item {
	width: 55%;
	height: 70%;
	padding: 0px;
}

.knob {
	background-color: var(--controlPanelBG);
	background-image: none;
	border: none;
	border-radius: 100%;
	width: 15%;
	height: auto;
	padding: 5px;
}

svg {
	width: 100%;
	height: auto;
	margin-top: 1.5%;
}

svg.left-knob {
	rotate: 0deg
}

svg.right-knob {
	rotate: 0deg
}

.svg-face {
	fill: #fff;
	stroke: var(--knobGradientEnd);
	opacity: 0.6;
	stroke-width: 7;
	stroke-linecap: square;
	stroke-dasharray: none;
	paint-order: fill markers stroke
}

#path50 {
	/* filter: hue-rotate(20deg); */
	/* fill: #0D7; */
	fill: url(#grad1);
	stroke: var(--knobGradientEnd);
	stroke-width: 5px;
}

.control-panel {
	display: flex;
	overflow: hidden;
	justify-content: space-around;
	align-items: space-between;
	background-color: var(--controlPanelBG);
}

.control-panel-item {
	display: flex;
	flex-direction: row;
	align-items: space-around;
	justify-content: center;
	overflow: hidden;
	color: var(--gridColor);
	background-color: var(--controlPanelBG);
	width: 10%;
	height: 80%;
	margin: auto 0;
	padding: 5px;
	border-start-start-radius: calc(var(--borderRadius)-2);
	border-start-end-radius: calc(var(--borderRadius)-2);
	border-end-start-radius: calc(var(--borderRadius)-2);
	border-end-end-radius: calc(var(--borderRadius)-2);
	color: var(--innerBorderColor)	
}

.color-picker {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30%;
}

.control-panel-item img {
	height: 60%;
	width: auto;
	margin: auto 0px;
	/* filter:sepia(100%); */
	/* filter: saturate(20%); */
	/* filter:drop-shadow(100%); */
}

.color-input-container {
	display: flex;
	flex-direction: column;
	background-color: var(--controlPanelBG);
	height: 100%;
	width: 50%;
	margin-right: 10px;
	margin-left: 10px;
}

/* Color picker looks different in chrome/edge v. firefox */
.color-input {
	width: 80%;
	height: 100%;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	background: none;
	border: 0;
	cursor: pointer;
	/* border: 2px solid var(--innerBorderColor); */
	border-radius: 50px;
	margin: 0px auto;
}

.randomize-toggle {
	width: 6%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-orientation: upright;
	font-family: courier;
	font-size: 1em;
	font-weight: bolder;
	line-height: 90%;
	padding: 5px;
}

.resolution {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10%;
	padding: 10px;
	width: 30%;
}

.resolution-icon {
	display: flex;
	align-items: center;
	justify-content: around;
	width: 50%;
}

.resolution-icon img {
	width: 85%;
}

.resolution-controls-container {
	width: 65%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content:space-around;
	padding: 10px;
	margin: 0px 10px;
	font-size: 1em;
	font-weight: bolder;
}

.resolution-controls-container img {
	width: 90%
}

::-webkit-color-swatch {
	border-radius: 50px;
}

.display-shadow {
	box-shadow: inset 0px 0px 10px 3px var(--gridColor), 0 0 10px var(--innerBorderColor);
}

.controls-shadow {
	box-shadow: inset 0 0 20px 2px var(--innerBorderColor), 0 0 10px Var(--innerBorderColor);
}

.controls-item-shadow {
	box-shadow: 0 0 5px 2px var(--controlPanelBG), inset 0 0 1px 2px var(--outerBorderColor);
}

.device-shadow {
	box-shadow: inset 0 0 20px 5px var(--outerBorderColor);
}

.round-corners {
	border-start-start-radius: var(--borderRadius);
	border-start-end-radius: var(--borderRadius);
	border-end-start-radius: var(--borderRadius);
	border-end-end-radius: var(--borderRadius);
}

.flicker-protection {
	visibility: hidden;
}