* {
  box-sizing: border-box;
}

body {
  width: 90%;
  font-size: 18px;
  background-color: bisque;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

h1 {
  text-align: center;
}

input {
  font-family: monospace;
  appearance: none;
  -webkit-appearance: none;
  color: #000;
  border: 1px solid auto;
  width: 200px;
  padding: 5px;
  border-radius:10px;
}

input+*+* {
  font-weight: bold;
}

input+span:before {
  content: ">";
  position: absolute;
  font-family: "Helvetica", sans-serif;
  font-size: 1em;
  font-weight: bold;
  left: -15px;
  top: 3px;
}

pre {
  display: inline;
  color: #f00; 
  background-color: white;
  border-radius: 5px;
  border: 1px solid #f00;
}

.container {
  position: relative;
  width: 300px;
  margin: 0 auto;
  margin-right: 15px;
}

.container+.container {
  width: 300px;
  margin: 0 auto;
  margin-left: 0px;
}

.input-group {
  position: relative;
  width: 90%;
  margin: 20px 20px;
  border-bottom: 1px solid red;
  padding-bottom: 5px;
}

.pattern-description {
  position: relative;
  width: 90%;
  font-family: "Helvetica", sans-serif;
  font-size: 0.8em;
  margin-left: 1em;
  margin-top: 5px;
}

.pattern-description:before {
  position: absolute;
  font-family: "Helvetica", sans-serif;
  font-size: 1em;
  font-weight: bold;
  content: ">";
  color: #aaa;
  left: -1em;
}

.pattern-description.bold {
  font-weight: bold;
}

#page-holster {
  font-family: "Helvetica", sans-serif;
  line-break: normal;
  line-height: 2em;
  width: 300px;
  text-align: center;
  margin: 10px;
}

#page-holster span {
  background-color: red;
  color: bisque;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 5px;
}

#page-holster span a {
  color: bisque;  
  text-decoration: none;
}

/* * non-scripted classes */

.not-scripted:invalid {
  color: red;
  border: red 1px solid;
}

.not-scripted:invalid:focus {
  appearance: none;
  color: red;
  border-color: red;
}

.not-scripted:valid {
  color: #4b9ef2;
  font-weight: bold;
  border: 2px solid #4b9ef2;
  background-color: #e9d2b5;
}

.not-scripted:valid:focus {
  font-weight: bold;
  border: 2px solid auto;
  border-color: #4b9ef2;
}

.not-scripted:invalid+span:before {
  color: red;
}

.not-scripted:valid+span:before {
  color: #4b9ef2;
}

.not-scripted:valid+span:after {
  appearance: none;
  position: absolute;
  content: "✔";
  /* checkmark */
  font-size: 0.8em;
  color: #4b9ef2;
  right: 50px;
  top: 5px;
}

/* * scripted classes */

.scripted-invalid {
  color: red; 
  border: red 1px solid;
}

.scripted-invalid:focus {
  appearance: none;
  color: red;
  border-color: red;
}

.scripted-invalid+span:before {
  color: red;
}

.scripted-invalid+span:after {
  content: "";
}

.scripted-valid {
  color: #4b9ef2;
  font-weight: bold;
  border: 2px solid #4b9ef2;
  background-color: #e9d2b5;
}

.scripted-valid:focus {
  font-weight: bold ;
  border: 2px solid auto;
  border-color: #4b9ef2;
}

.scripted-valid+span:before {
  color: #4b9ef2;
}

.scripted-valid+span:after {
  appearance: none;
  position: absolute;
  content: "✔";
  /* checkmark */
  font-size: 0.8em;
  color: #4b9ef2;
  right: 50px;
  top: 5px;
}