:root {
  height: 100vh;
  min-height: 100vh;
  --buttonDefault: #ffaa92;
  --buttonPressed: #ff6633;
  --buttonHover: #ff2200;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  /* border: 1px blue dotted; */
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

div {
  display: inline;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70%;
  aspect-ratio: 2/3;
  min-width: 300px;
  min-height: 500px;
  background-color: #ff5757;
  padding: 20px;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-top: 10px;
  border: 2px solid black;
  /* border-top: 3px solid black; */
  /* border-left: 3px solid black; */
  box-shadow: 10px 8px 5px;
}

#screen-container {
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: space-around;
  justify-content: space-around;
  padding: 0px 2%;
}

#screen-upper {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#screen-lower {
  width: 100%;
  height: 65%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: wrap;
  margin-top: 15px;
}

#display-holster,
#solar,
#logo,
.button {
  height: 100%;
  background-color: var(--buttonDefault);
  border: 2px solid black;
  box-shadow: 10px 5px 5px;
}

#solar {
  flex-basis: 65%;
  margin-right: 10px;
}

#logo {
  flex-basis: 30%;
}

#display-holster {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: left;
  justify-content: space-around;
}

#equaltion-viewer {
  width: 100%;
  height: 40%;
}

#input {
  width: 100%;
  height: 60%;
  background-color: transparent;
  text-align: right;
  caret-color: transparent;
  font-family: "DigitalDisplay";
  font-size: 3.6em;
  border-width: 0px;
}

#input:focus {
  outline: none;
}


#button-container {
  height: 70%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: wrap;
  padding: 10px 0px;
}

.break {
  height: 0;
  flex-basis: 100%;
}

.button {
  flex-grow: 1;
  flex-basis: 15%;
  height: 15%;
  margin: 0px 2%;
}

#butt_0 {
  flex-basis: 41%;
  flex-shrink: 0;
}

body {
  border: 1px solid black;
  background-color: #26ebd1;
}

@font-face {
  font-family: "DigitalDisplay";
  src: url('assets/Digital-Display.woff2');
}

.rounded-corners {
  border-radius: 10px;
}