body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(200, 200, 255);
}

.container{
    width: 65vw;
}

.text {
    border: 1px solid red;
    margin: 10px 0px;
    padding: 10px;
}