:root {
	--lightgray: #e2e8f0;
	--white: #fefefe;
}	

* {
	margin: 0;
	padding: 0;
}

body {
	width: 100vw;
}

ul {
	appearance: none;
	list-style: none;
}

.container {
	display: flex;
	flex-direction: column;
	grid: 1fr 1fr;
	height: 100%;
	width: 100%;
}

.top-bar {
	background-color: var(--white);
	display: flex;
}

.nav-bar {
	display: flex;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 1em;
	background-color: #19d;
	color: white;
	min-width: 200px;
}

.nav-bar span {
	margin-left: 10px;
}

.nav-bar img {
	filter: invert(100%);
}

.nav-bar>* {
	flex: 1;
	vertical-align: center;
}

.logo-img {
	height: 50px;
	width: auto;
	/* margin-right: 10px; */
	filter: invert;
	vertical-align: middle;
}

.nav-menu-container {
	text-align: right;
}

.hamburger img {
	height: 50px;
	width: auto;
	display: inline;
}

.nav-menu {
	background-color: #19d;
	position: absolute;
	right: 0px;
	text-align: left;
}

.nav-menu img {
	width: 30px;
	height: auto;
	margin-right: 10px;
	vertical-align: middle;
}

.menu-group li {
	padding: 5px;
}

.side-bar {
	background-color: #adf;
}

.content {
	background-color: var(--lightgray);
}

.hide {
	display: none;
}

@media only screen and (min-width: 700px) {

	body {
		height: 100vh;
	}

	.container {
		display: grid;
		grid-template-rows: 1.5fr 3fr 3fr;
		grid-template-columns: minmax(min-content, 250px) repeat(2, 2fr) 1.5fr;
		height: 100%;
	}

	.top-bar {
		grid-area: 1/2 / 2/5;
		display: grid;
		grid-template-rows: 1fr 2fr;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.top-bar-row {
		flex: 1;
		box-sizing: border-box;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border: 1px solid #000;
	}

	.top-bar-row img {
		height: 50%;
	}

	.top-bar-row>* {
		height: 100%;
		border: 1px solid #000;
	}

	.nav-bar {
		flex-direction: column;
		grid-area: 1/1 / 4/2;
	}

	.nav-bar>* {
		flex: 0;	
	}

	.nav-menu {
		display: block;
		position: initial;
		margin-top: 3em;
	}

	.menu-group-main {
		margin-bottom: 3em;
	}

	.nav-menu img {
		margin-right: 30px;
		margin-left: 5px;
	}

	.hamburger {
		display: none;
	}

	.side-bar {
		grid-area: 2/4 / 4/5;
	}

	.content {
		grid-area: 2/2 / 4/4;
		/* overflow-y: hidden; */
	}
}

