* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	width: 100vw;
	height: 100vh;
	background-color: black;
}

.grid-main {
	background-color: #fc9;
	display: grid;
	grid-template-rows: 1fr 2fr;
	grid-template-columns: 1fr 4fr;
	gap: 20px;
	width: 100%;
	height: 100%;
}

.grid-main-item {
	display: grid;
}	

#first-quadrant {
	background-color: #bfa;
	grid-template-columns: 1fr 2fr 1fr;
}

#first-quadrant>.grid-main-item {
	border: 1px solid red;
	grid-template-rows: 4fr 1fr;
}

#second-quadrant {
	background-color: #eef;
	grid: auto-flow 1fr 3fr 1fr / 1fr 2fr 1fr;
	place-content: center;
	grid-template-areas: 
		"q2-left-sidebar q2-header q2-header"
		"q2-left-sidebar q2-content q2-right-sidebar"
		". q2-footer q2-footer";
	gap: 10px;
	padding: 20px;
}

#second-quadrant>.grid-main-item {
	border: 1px solid red;
	background-color: #fee;
}

#q2-header {
	grid-area: q2-header;
}

#q2-left-sidebar {
	grid-area: q2-left-sidebar;	
}

#q2-content {
	grid-area: q2-content;
}

#q2-right-sidebar {
	grid-area: q2-right-sidebar;	
}

#q2-footer {
	grid-area: q2-footer;	
}

#third-quadrant {
	background-color: #cff;
	grid: repeat(12, 1fr) / repeat(12, 1fr);
	gap: 5px;
	padding: 20px;
}

.q3-item {
	background-color: #fc2;
	box-shadow: 0 0 20px 10px inset;
	border-radius: 10px;
	overflow: scroll;
	scrollbar-width: none;
}

#q3-one {
	grid-column-start: 4;
	grid-column-end: 13;
	grid-row-start: 1;
	grid-row-end: 4;
}

#q3-two {
	grid-column-start: 10;
	grid-column-end: 13;
	grid-row-start: 4;
	grid-row-end: 13;
}

#q3-three {
	grid-column-start: -4;
	grid-column-end: -13;
	grid-row-start: -4;
	grid-row-end: -1;
}

#q3-four {
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 10;
}

#q3-five {
	grid-column-start: 5;
	grid-column-end: 9;
	grid-row-start: 5;
	grid-row-end: 9;
}

#fourth-quadrant {
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	/* I have no idea how this works. 
	 * I think it's like this: 
	 * "auto-fill" decides the number of columns based on the 
	 * return value of minmax(). The auto-fill value gets 
	 * bigger or smaller depending whether there is room for
	 * another colums based on the minimum value provided.
	 * */
}

.q4-item {
	background-color: black;
	border: 1px solid red;
}







