input {
  appearance: none;
}

input[type="checkbox"] {
  position: relative;
  width: 2em;
  height: 2em;
  border: 2px solid rgb(255, 149, 0);
  border-radius: 1em;
  /* adjust the position of the checkboxes ont he text baseline */
  vertical-align: -2px;
  /* set here so that windows' high-contrast mode can override */
  color:green;
}

input[type="checkbox"]:before {
  content: "🪐";
  position: absolute;
  font-size: 2em;
  right: -7px;
  top: -0.27em;
  visibility: hidden;
}
input[type="checkbox"]:checked:before {
  /* use visibility instead of 'display' to avoid recalculating layout */
  visibility: visible;
}
input[type="checkbox"]:disabled {
  border-color:darkgray;
  background-color: #ddd;
  color: gray;
}

