:root {
	--accentColor: rgb(241, 43, 90);
}

* {
	margin: 10px;
	padding: 0px;
	font-family: "ConcertOne";
	vertical-align: center;
	outline: 0px blue dotted;
}

body { 
	color: white;
	background-color: #000000;
	font-family: Arial;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2em;
}

div {
    padding: 10px;
}

img {
	max-width: 100%;
}

.landing-screen {
	margin: 0px;
	padding: 0px;
}

.container {
	width: 100%;
	max-width: 600px;
}

.title {
	color: var(--accentColor);
	font-size: 1.3em;
}

.title-image {
	display: flex;
	justify-content: center;
	z-index: -1;
}

.choice-container {
	align-items: center;
	justify-content: left;
}

.choice-declaration {
	padding-left: 0px;
	margin-left: 0px;
}

.choice-box {
	width: 100%;
}

.input {
	position: absolute;
	display: inline;
	background-color: black;
	font-family: "Arial";
	text-transform: capitalize;
    font-size: 0.5em;
    color: var(--accentColor);
    border: 3px var(--accentColor) solid;
	margin: 0px auto;
    padding: 0px;
}

.fight-button {
	width: 100%;
	line-height: 1.5em;
	vertical-align: middle;
	display: none;
	color: white;
	background: var(--accentColor);
	text-transform: uppercase;
}

@font-face {
	font-family: "ConcertOne";
	src: url(resources/ConcertOne-Regular.ttf)
}

